<!DOCTYPE html>
<html xmlns:th="http:/thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Manda páramatros del REquest HTTP GET -URL</title>
</head>
<body>

	<h1>Manda páramatros del REquest HTTP GET -URL</h1>

	<ul>
		<li><a th:href="@{/params/string(texto='HOLA ANDRES')}">/params/string?texto=HOLA
				ANDRES</a></li>
		<li><a th:href="@{/params/string(texto='QUE TAL JOHN')}">/params/string?texto=QUE
				TAL JOHN</a></li>
		<li><a
			th:href="@{/params/mix-params(saludo='Como estas Andres',numero=7)}">/params/mix-params?saludo=Como
				estas Andres&numero=7</a></li>
		<li><a
			th:href="@{/params/mix-params-request(saludo='Como estas Andres',numero=7)}">/params/mix-params-requesy?saludo=Como
				estas Andres&numero=7</a></li>
	</ul>

</body>
</html>